@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit-didyouknow {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }

 
}
