@use "../../../../styles/utils/variables" as *;
@use "../../../../styles/utils/mixins" as *;

.container__custom-buttons-difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  &--buttons {
    width: $textFieldWidth;
  }
}
