@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__table-didyouknow {
  width: 100%;
  border-collapse: collapse;

  th {
    background: #f4f4f4;
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
  }

  td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
  }

  tbody tr {
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.9rem;

    td,
    th {
      height: 30px;
      padding: 0 0.5rem;
    }

    &:hover {
      background: rgba($secondary-color-1, 0.2);
    }
  }

  .text-cell {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .difficulty {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.8rem;

    &--easy {
      background: #d8f3dc;
    }

    &--medium {
      background: #fff3bf;
    }

    &--hard {
      background: #ffe3e3;
    }
  }
}