// /* Fonts */
$font_body: "Inter", sans-serif !default;
$font_titles: "Inter", sans-serif;

// /* Colors */
$primary-color-1: #fff;
$primary-color-2: #f5f5f5;
$primary-color-3: #f0f0f0;
$primary-color-4: #999;
$primary-color-5: #777;
$primary-color-6: #555;

$secondary-color-1: #0f6cbd;
$secondary-color-2: #6faaee;
$secondary-color-3: #d32f2f;
$secondary-color-4: #ECF5FF;
$secondary-color-5: #0076f7;

$secondary-color-green-2: #388e3c;

$paragraph-background: rgba(0, 0, 0, 0.2);

$highlight: #ffd480;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #347deb;

$button-color-create-bg: #4caf50;
$button-color-update-bg: #1976D2;
$button-color-delete-bg: #d32f2f;
$button-color-reset-bg: #757575;

$textFieldWidth: 250px;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
