@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__didyouknow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:1rem;
}