@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

// To avoid autocompleion style issues in Chrome
.signup__textfield input:-webkit-autofill,
.signup__textfield input:-webkit-autofill:hover,
.signup__textfield input:-webkit-autofill:focus,
.signup__textfield input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px $primary-color-2 inset; // Background color
  -webkit-text-fill-color: $text-color-1; // Text color
  transition: background-color 5000s ease-in-out 0s; // Hack for Chrome
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px 30px 20px;
  gap: 15px;
  width: 100%;
  background-color: $primary-color-2;

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__select {
    .MuiSelect-select {
      color: $text-color-1;
      border: 1px solid $text-color-1;

      &:hover {
        border-color: $secondary-color-3 !important;
      }
    }

    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
      border-color: gray;
      transition: border-color 0.3s;
    }

    .MuiSelect-icon {
      color: $text-color-1;
    }
  }

  .signup__formlabel {
    color: $text-color-1;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .toggle-password-visibility {
    color: $text-color-1;
    &:hover {
      color: $primary-color-3;
    }
  }

  &__helpertext {
    color: $text-color-1;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: italic;
    margin-left: 10px;
  }

  &__error {
    color: red;
    font-size: 0.75rem;
    padding: 5px 10px;
  }

  &__accountexists {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .signup__login {
      &:hover {
        cursor: pointer;
        color: $secondary-color-3;
      }
    }
  }

  &__textfield {
    // Field text
    .MuiInputBase-input {
      color: $text-color-1;
    }

    // Label
    .MuiInputLabel-root {
      color: $text-color-1;
    }

    // Focused label
    .MuiInputLabel-root.Mui-focused {
      color: $text-color-2;
    }

    // Normal border
    .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
      border-color: $text-color-1;
    }

    // Hover border
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color-3;
    }

    // Border when the field is focused
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color-3;
    }

    // Helper text
    .MuiFormHelperText-root {
      color: red;
      font-size: 0.75rem;
    }

    // Helper text when there is an error
    .MuiFormHelperText-root.Mui-error {
      color: red;
    }
  }

  &__outlinedinput {
    // Input text color
    .MuiOutlinedInput-input {
      color: $text-color-1;
    }

    // Label color
    .MuiInputLabel-root {
      color: $text-color-1;
    }

    // Focused label color
    .MuiInputLabel-root.Mui-focused {
      color: $text-color-1;
    }

    // Normal border color
    .MuiOutlinedInput-notchedOutline {
      border-color: $text-color-1;
    }

    // Hover border
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color-3;
    }

    // Focused border color
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color-3;
    }
  }

  @include responsive-tablet {
    border-radius: 10px;
    width: auto;
    min-width: 500px;
    gap: 20px;
  }

  @include responsive-desktop {
    min-width: 700px;
    gap: 25px;
  }
}
