@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__home{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
    padding:0 1rem;
    width:100%;

    &-datagrid{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        width:100%;
    }
}