@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  background-color: $primary-color-2;

  &--nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border: none;
      cursor: pointer;
      color: $text-color-1;
      border-left: 3px solid $primary-color-2;

      &:hover {
        color: $text-color-3;
        background-color: $secondary-color-4;
        border-left: 3px solid $secondary-color-1;
      }

      &.active {
        color: $text-color-3;
        background-color: $secondary-color-4;
        border-left: 3px solid $secondary-color-1;
      }
    }
  }
}
