@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__didyouknow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding:1rem;
}