@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__toolbar{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;

    @include normal-border;


}