@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;
@use "sass:color";

.forgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 2rem;

  &__buttons {
    display: flex;
    justify-content: center;
    .btn_close {
      background-color: $primary-color-3;

      &:hover {
        background-color: color.adjust($primary-color-3, $lightness: -20%);
        color: $text-color-1;
      }
    }
    .btn_resetPassword {
      background-color: $secondary-color-1;

      &:hover {
        background-color: color.adjust($secondary-color-1, $lightness: -20%);
        color: $text-color-1;
      }
    }
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
